
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body
{
  background-color : rgba(231, 209, 179, 0.915);
}

*{
  margin: 0;;
  padding: 0;

}

nav{
  font-family: 'Ubuntu', sans-serif;
}

nav u1{
  display:flex;
  list-style-type: none;
  height: 65px;
  background-color: black;
}
.brand img{
  width: 1px;
}